.header__link{
 
color: #FFFFFF;
text-decoration: none;
font-weight: 400;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */
 
color: #FFFFFF;

}
.header__link:hover {
    opacity: 80%;
  }
  @media screen and (max-width: 568px) {
    .header__link {
      font-size: 18px;
    }
  }
 

