.footer__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 80%;
  }
  @media screen and (max-width: 640px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
  }

