.place__paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0 auto 26px;
    color: #FFFFFF;

}
  @media screen and (max-width: 1024px) {
    .place__paragraph {
      font-size: 16px;
      margin: 0 auto 25px;
    }
  }

  @media screen and (max-width: 320px) {
    .place__paragraph {
      padding: 0 16px;
    }
}
.place__paragraph:last-of-type {
    margin-bottom: 0;
  }
