.footer__item{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-right: 18px;
}

.footer__item:last-of-type {
    margin: 0;
  }

  @media screen and (max-width: 640px) {
    .footer__item {
      margin: 0 0 32px;
    }
  
    .footer__item:last-of-type {
      margin-bottom: 48px;
    }
  }